/*---------------------------------------- Google Font import */
@import url('https://fonts.googleapis.com/css2?family=Fraunces:opsz,wght@9..144,700&family=Montserrat:wght@500;700&display=swap');

/*---------------------------------------- Colors */
:root {
    --white: hsl(0, 0%, 100%);
    --darkgrey: hsl(228, 12%, 48%);
    --darkblue: hsl(212, 21%, 14%);
    --cream: hsl(32, 37%, 92%);
    --darkcyan: hsl(158, 36%, 37%);
}

/*---------------------------------------- Frontend Mentor Credits styling */
.attribution {
    font-size: 11px;
    text-align: center;
}

.attribution a {
    color: #3e52a3;
}

/*---------------------------------------- Global styling */
* {
    color: var(--darkblue);
    margin: 0px 0px 0px 0px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 14px;

/*---------------------------------------- Debugging Tools - DELETE ME WHEN DONE */ 
    /* outline: 1px solid red !important; */
    /* background-color: rgb(100 0 0 / 0.05) !important; */
}

body {
    background-color: var(--cream);
}

a{
    cursor: pointer;
    text-decoration: none;
}

/*---------------------------------------- Card styling */
.card {
    background-color: var(--white);
    border-radius: 10px;
    display: grid;
    grid-template-rows: auto 1fr;
    width: 343px;
    margin: 30px auto;
}

/*---------------------------------------- Card - Image styling */
.card__image {
    border-radius: 10px 10px 0 0;
    background-image: url(/images/image-product-mobile.jpg);
    background-size: cover;
    background-position: top left;
    background-repeat: no-repeat;
    height: 240px;
}

/*---------------------------------------- Card - Full content styling */
.card__full-content {
    margin: 25px 20px;
}

.card__full-content__heading h2 {
    color: var(--darkgrey);
    font-size: 0.9rem;
    text-transform: uppercase;
    letter-spacing: 5px;
    margin-bottom: 12px;
}

.card__full-content__heading h1 {
    color: var(--darkblue);
    font-size: 2.4rem;
    font-family: 'Fraunces', serif;
    font-weight: 700;
    line-height: 2.3rem;
    margin-bottom: 15px;
}

.card__full-content__paragraph p {
    color: var(--darkgrey);
    line-height: 1.75rem;
    margin-bottom: 20px;
}

/*---------------------------------------- Card - Amount styling */
.card__full-content__amount {
    display: grid;
    grid-template-columns: repeat(2,150px);
    align-items: center;
    margin-bottom: 15px;
}

.card__full-content__amount p {
    font-family: 'Fraunces', serif;
    font-weight: 700;
    display: flex;
}

.card__full-content__amount--correct p {
    color: var(--darkcyan);
    font-size: 2.3rem;
    margin-right: 20px;
}

.card__full-content__amount--line-through p {
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    color: var(--darkgrey);
    text-decoration: line-through;
}

/*---------------------------------------- Card - Button styling */
.card__button {
    background-color: var(--darkcyan);
    border: none;
    border-radius: 10px;
    width: 300px;
    height: 50px;
}

.card__button__content {
    display: flex;
    justify-content: center;
}

.card__button p {
    color: var(--white);
    margin-left: 10px;
}

/*---------------------------------------- Card - Media Query for >768px */
@media (min-width: 768px) {
    .card {
        grid-template-columns: repeat(2, 1fr);
        width: 600px;
        height: 450px;
        margin-top: 150px;
    }

    .card__image {
        border-radius: 10px 0 0 10px;
        background-image: url(/images/image-product-desktop.jpg);
        height: 450px;
    }
}